@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{

    /* Primary */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--light-gray);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: white;

    min-width: 90%;
    border-radius: 0.5rem;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    padding: 1rem;
    width: 90vw;
    height: 32vh;
}

.first-section{
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
}

.first-section h1{
    color:var(--cyan);
    font-size: 1.25rem;
    margin: 1rem 0 1rem 0;
    font-weight: 700;
}

.first-section h2{
    color:var(--bright-yellow);
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0 1rem 0;
}

.first-section p{
    font-weight: 400;
    color: var(--grayish-blue);
    text-align: left;
}

.second-section{
    background-color: var(--cyan);
}

.second-section h2{
    font-size: 1.25rem;
    color: var(--light-gray);
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.second-section .price{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.75;
    margin: 1rem 0;
}


.second-section span{
    color: white;
    font-size: 2rem;
    margin-right: 0.5rem;
    opacity: 1;
}

.second-section .full-access{
    color: var(--light-gray);
    margin: 0 0 1.5rem 0;
}

.second-section a{
    display: block;
    text-align: center;
    width: 80vw;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.third-section{
    background-color: rgb(73, 190, 189);
    color: var(--light-gray);
    border-radius: 0 0 0.5rem 0.5rem;
}

.third-section h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
    font-size: 1.25rem;
}

.third-section ul{
    list-style-type: none;
}

.third-section li{
    margin: 0.15rem 0;
    opacity: 0.75;
    color: white;
}

@media only screen and (min-width: 1200px) {

    .first-section{
        width: 45vw;
        min-height: 24.5vh;
        padding: 0 3rem;
    }

    .first-section h1{
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }

    .bottom-container{
        flex-direction: row;
    }

    .bottom-container .section{
        width: 22.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 3rem;
        padding-left: 3rem;
    }


    .second-section h2{
        margin-bottom: 0;
    }

    .second-section a{
        display: block;
        text-align: center;
        width: 17vw;
        padding: 1rem 0;
        text-decoration: none;
        color: var(--light-gray);
        font-weight: 400;
        font-size: 1rem;
        background-color: var(--bright-yellow);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .second-section{
        border-radius: 0 0 0 0.5rem;
    }

    .third-section{
        border-radius: 0 0 0.5rem 0;
    }
    
}